html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ddd;
}

h1 {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  color: #fff; /* #424242; */
  font-weight: 400;
  background-color: #1abc9c;
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); */
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); */
  z-index: 9999;
  overflow: hidden;
  white-space: nowrap;
}

h1 .title {
  font-style: italic;
}

h1 #fileName {
  display: none;
  font-weight: normal;
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 6px;
  background-color: rgb(22, 160, 133);
  cursor: pointer;
}

#tabMenu {
  position: absolute;
  width: 100%;
  top: 53px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
}

#tabMenu ol {
  width: 99999px;
}

#tabMenu li {
  position: relative;
  width: 100px;
  height: 25px;
  float: left;
  text-align: center;
  border-right: 1px solid #aaa;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  line-height: 25px;
  background: #eee;
  background: linear-gradient(to bottom, #ddd 90%, #ccc 100%);
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

#tabMenu li:hover {
  background: linear-gradient(to bottom, #ccc 90%, #bbb 100%);
}

#tabMenu li.current,
#tabMenu li.current:hover
{
  background: linear-gradient(to bottom, #fff 95%, #efefef 100%);
}

#tabMenu li .close {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 7px;
  border-radius: 15px;
  line-height: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  right: 5px;
  font-size: 8px;
  color: #ddd;
  background-color: #AAA;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-transform: rotate(45deg);  
  -moz-transform: rotate(45deg);  
}

#tabMenu li .close:hover {
  color: #eee;
  background-color: #888;
}

#tabs {
  position: absolute;
  width: 100%;
  top: 53px;
}

.tab {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: auto;
  background-color: #fff;
}

.tab > .content {
  margin: 10px;
  margin-top: 15px;
}

#main div.selector {
  margin: 10px;
  margin-top: 15px;
  text-align: center;
  padding: 20px;
  background-color: #ecf0f1;
}

#main div.selector p {
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#loading {
  position: absolute;
  font-style: italic;
  width: 100%;
  text-align: center;
  top: 50%;
}

#glyphList {
  margin: 10px;
}

#loading img {
  vertical-align: bottom;
  padding-right: 10px;
}

#glyphList li {
  float: left;
  width: 108px;
  border: 1px solid #eee;
}

#glyphList li dl {
  padding: 5px;
}

#glyphList::after {
  content: '';
  display: block;
  clear: both;
}

#glyphList dt {
  height: 20px;
  text-align: center;
  font-size: 10px;
}

#glyphList dd svg {
  fill: #222;
  stroke: none;
  cursor: pointer;
}

#glyphList li:hover {
  /* background-color: rgba(241, 196, 15,0.8); */
}

#glyphList dd svg:hover {
  fill: #eee;
  fill-opacity: 0.5;
  stroke: #999;
}

.glyphView .glyph {
  fill: #fafafa;
  stroke: #000;
  stroke-width: 2px;
}
